{% extends "layout.twig" %}
{% block content %}
  <h2><a href="{{ feed.url }}">{{ meta.name }}</a></h2>
  {% for article in feed.articlesByDate %}
    <article>
      <div class="meta pull-right muted">
        {{ article.date | date('F j, Y g:iA') }}
      </div>
      <h3><a href="{{ article.link }}">{{ article.title }}</a></h3>
      <div class="row-fluid">
        <div class="span8">
          {{ article.body }}
        </div>
      </div>
    </article>
    {% if not loop.last %}<hr>{% endif %}
  {% endfor %}
{% endblock %}