{% extends "layout.twig" %}
{% block content %}
  <div class="pull-right">
    <div class="btn-group js-unread-toggle" data-unread-only="{{ user.unreadOnly ? '1' : '0' }}">
      {% set unreadCount = feed.getUnreadCount() %}
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:;">
        <span class="js-button-text">
          {% if user.unreadOnly %}{{ unreadCount }} unread items {% else %} All items {% endif %}
        </span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-right">
        <li><a class="js-all" href="javascript:;">All items</a></li>
        <li><a class="js-unread" href="javascript:;">{{ unreadCount }} unread items</a></li>
      </ul>
    </div>
    <a href="/feed/delete/{{ feed.id }}" class="btn" data-toggle="tooltip" title="Unsubscribe" data-confirm="Are you sure you want to unsubscribe?">
      <i class='icon-trash'></i>
    </a>
  </div>


  <h3><a href="{{ feed.url }}">{{ feed.name }}</a></h3>


  {% for article in feed.articlesByDate %}
    {% set classes = article.read ? ['read'] : [] %}
    {% if article.read and user.unreadOnly %}{% set classes = classes | merge(['hide']) %}{% endif %}
    <article data-id="{{ article._id }}" class="{{ classes | join(' ') }}">
      <div class="content">
        <div class="meta pull-right muted" title="{{ article.date | date('F j, Y g:iA') }}">
          {{ article.date | fancyTimestamp }}
        </div>
        <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
        <div class="muted">by: {{ article.author }}</div>
        <div class="row-fluid">
          <div class="span8">
            {{ article.body }}
          </div>
        </div>
      </div>
      <div class="footer">
        <a class="js-mark-read" href="javascript:;">Mark Read</a>
      </div>
    </article>
  {% endfor %}

  <div class="after-articles">
    <a class="js-scroll-to-top" href="javascript:;">The End</a>
  </div>
{% endblock %}